[submodule "DetVisGUI"]
	path = DetVisGUI
	url = https://github.com/Chien-Hung/DetVisGUI.git
[submodule "waymo-open-dataset"]
	path = waymo-open-dataset
	url = https://github.com/carranza96/waymo-open-dataset.git
